numpy
pandas
requests
selenium
beautifulsoup4
webdriver-manager
python-dateutil
pytz
six
tzdata
pyspark
findspark
py4j
jaydebeapi
jpype1
pyodbc
sqlalchemy
apache-airflow
apache-airflow-providers-sqlite
apache-airflow-providers-postgres
apache-airflow-providers-microsoft-mssql
docker
psutil
python-dotenv
notebook
jupyterlab
matplotlib
packaging